* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #08364d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 4rem;
}
.carousel {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: gray;
  position: relative;
  margin: 3rem auto;
  width: 90vw;
  border-radius: 8px;
  overflow: hidden;
}
.carouselSlide {
  overflow-x: hidden;
  display: flex;
}
.carouselItem {
  display: none;
  flex: 0 0 auto;
  width: 100%;
}
.active {
  display: block;
}
img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

.indicator {
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  top: 50%;
  padding-inline: 2rem;
  justify-content: space-between;
}
i {
  cursor: pointer;
  color: #fff;
}
